 body {
      background-image: url(img/Car-background.jpeg);
    }


    h1{
      font-size: 80px;
      color:white;
      text-align: center;
      text-shadow: 2px 2px 2px black
    }
    h2{
      color:white;
      text-align: center;
      text-shadow: 2px 2px 2px black
    }
    p{
      color:white;
      text-align: center; 
      text-shadow: 2px 2px 2px black
    }

    label{
      color: white;
      text-shadow: 2px 2px 2px black
    }

    form {
      padding:10px;
      margin:10px;
    }
    label{
      font-size: 25px;
    }
    .btn{
      font-size: 25px;
    }

    .row p {
      text-shadow: 2px 2px 2px black;
    }

    .whiteborder {
      border-width: 5px; 
      border-style: solid; 
      border-color: black; 
      border-radius: 25px;
      margin-top: 15px;
      background-color: #222;
    }


    #mainsection{
      text-align: center;
    }

    #submit{
      margin-bottom:10px;
    }

    .row {
      color: white; 
      display: inline; 
    } 
    .col-md-12 {
      text-shadow: 2px 2px 2px black; 
      border-width: 5px; 
      border-style: solid; 
      border-color: black solid; 
      border-radius: 25px;
    }
    #text-center { 
      text-align: center; 
      display: inline-block;
    }
    #right {
      display: inline-block;
    }
    /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1r {
        font-size: 6em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 8em;
    }
}